.row {
    width: 950px;
    height: 480px;
}

.title {
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.nav-link {
    margin-top: 0.5rem;
    color
}
.nav-link:hover {
    background-color: rgba(49, 136, 223, 0.2);
}

